<%- model_class = Tag -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %>::<%= @tag.name %></h1>
</div>

  <% count = 0 %>
  <% @posts.each do |blog|%>
    <% url = "/posts/" + blog.id.to_s %>
    <div class="lead">
      <%= @labels[count].html_safe %><%= blog.created_at.to_s.split("\s")[0] %></span>
      <a href=<%=url%> style="margin-left:20px;"><%= blog.title %></a>
    </div>
    <% count += 1 %>
  <% end %>

<%= paginate @posts %>